body{
    background-color: #E8E7BA;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form select,
form button {
    border-radius: 10px;
    margin: 10px;
    font-size: 1.6em;
}

li{
    list-style-type: none;
    padding: 5px;
}
ul{
    padding: 10px;
    border: 1px dotted;
    width: 50%;
    
}
#conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.esconder{
    display: hidden;
}